#comboBox1 {
  -fx-background-color: #FFF0F5;
  -fx-color: white;
  -fx-border: none;
  -fx-font-size: 12px;
  -fx-webkit-appearance: button;
  -fx-appearance: button;
  -fx-outline: none;
}

#comboBox1:focused {
  -fx-content: "\f13a";
  -fx-font-family: FontAwesome;
  -fx-position: absolute;
  -fx-text-align: center;
  -fx-font-size: 12px;
  -fx-line-height: 45px;
  -fx-color: rgba(255, 255, 255, 0.5);
  -fx-pointer-events: none;
}

#comboBox1:hover {
  -fx-color: rgba(255, 255, 255, 0.6);
  -fx-background-color: #FFE4E1;
}

#comboBox2 {
  -fx-background-color: #FFF0F5;
  -fx-color: white;
  -fx-border: none;
  -fx-font-size: 12px;
  -fx-webkit-appearance: button;
  -fx-appearance: button;
  -fx-outline: none;
}

#comboBox2:focused {
  -fx-content: "\f13a";
  -fx-font-family: FontAwesome;
  -fx-position: absolute;
  -fx-text-align: center;
  -fx-font-size: 12px;
  -fx-line-height: 45px;
  -fx-color: rgba(255, 255, 255, 0.5);
  -fx-pointer-events: none;
}

#comboBox2:hover {
  -fx-color: rgba(255, 255, 255, 0.6);
  -fx-background-color: #FFE4E1;
}

.button {
   -fx-border-radius: 10px;
   -fx-color: #a0a0a0;
   -fx-background-color: rgb(147, 112, 219);
   -fx-border: 14px;
 }

 .button:hover {
   -fx-background-color: rgb(221, 160, 221);
 }